/app/code/core
/app/design/frontend/default/blank
/app/design/frontend/default/iphone
/app/design/install
/var
/skin/adminhtml
/skin/frontend/default/iphone
/skin/frontend/default/blank
/skin/install
/shell
/pkginfo
/nbproject
/media
/lib
/downloader
/errors
/includes
/.htaccess
/.htaccess.sample
/LICENSE.html
/LICENSE.txt
/LICENSE_AFL.txt
/RELEASE_NOTES.txt
/api.php
/app/.htaccess
/app/Mage.php
